<header class="header-style-1 header-style-3" style="height: 330px ! important;">

  <div class="top-bar animate-dropdown">
    <div class="container">
      <div class="header-top-inner">
        <div class="cnt-account">
          <p><b>Llámenos:</b> 011 252 2112 <b>Email:</b> info@camion365.com</p>

        </div><!-- /.cnt-account -->

        <div class="cnt-block">
          <ul class="list-unstyled list-inline">
            <li class="dropdown dropdown-small"><a href="/mi-cuenta" class="dropdown-toggle">Mi Cuenta</a></li>
            <li class="dropdown dropdown-small"><a href="/mi-cuenta" class="dropdown-toggle">Publicar Anuncio</a></li>
            <li class="dropdown dropdown-small"><a href="/tarifas" class="dropdown-toggle">Tarifas</a></li>
          </ul><!-- /.list-unstyled -->
        </div><!-- /.cnt-cart -->
        <div class="clearfix"></div>
      </div><!-- /.header-top-inner -->
    </div><!-- /.container -->
  </div><!-- /.header-top -->

  <div class="header-nav animate-dropdown main-header">
    <div class="container">

      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="yamm navbar navbar-default" role="navigation">

          <div class="nav-bg-class">
            <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
              <div class="nav-outer">
                <ul class="nav navbar-nav">
                  <li class="active dropdown yamm-fw">
                    <a href="/" >Home</a></li>

                  <li class="dropdown">
                    <a href="#">Vende tu camión</a></li>

                  <li class="dropdown">
                    <a href="#">Mis Anuncios</a></li>

                </ul><!-- /.navbar-nav -->
                <div class="clearfix"></div>
              </div><!-- /.nav-outer -->
            </div><!-- /.navbar-collapse -->
          </div><!-- /.nav-bg-class -->
        </div><!-- /.navbar-default -->
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 top-search-holder" style="float:right">
        <div class="search-area">
          <form action="/busqueda"><div class="control-group"><a class="search-button" href="#" ></a>
            <input class="search-field" name="consulta" placeholder="Buscar camiones, repuestos o servicios..." />
          </div>
          </form>
        </div><!-- /.search-area -->
      </div>

    </div><!-- /.container-class -->

  </div><!-- /.header-nav -->
  <!-- ============================================== TOP MENU : END ============================================== -->

  <div class="main-header bgtopint">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 logo-holder">
          <div class="logo"><a href="/">

            <%= image_tag 'logo.png' %>
          </a></div><!-- /.logo -->
        </div>
          </div>
        </div>
</div>
</header>