
<!-- ============================================== HEADER : END ============================================== -->
<div class="body-content" id="top-banner-and-menu">
<!-- ========================================== SECTION – HERO ========================================= -->



<!-- ========================================= SECTION – HERO : END ========================================= -->
<div class="container">


<div class="col-md-12 col-sm-12" style="padding:0px !important;">

  <div class="col-md-8 col-sm-8 estilos-hm" style="padding:0px !important;">
    <h1><b>CAMIONES Y MARCAS</b> MÁS BUSCADOS</h1>
    <div class="col-md-4 col-sm-3">
      <h3 class="section-title">CAMIONES</h3>
      <div class="accordion-inner">
        <ul>
          <li><a href="#">gaming</a></li>
          <li><a href="#">office</a></li>
          <li><a href="#">kids</a></li>
          <li><a href="#">for women</a></li>
        </ul>
      </div><!-- /.accordion-inner -->
    </div>

    <div class="col-md-4 col-sm-3">
      <h3 class="section-title">VOLQUETAS</h3>
      <div class="accordion-inner">
        <ul>
          <li><a href="#">gaming</a></li>
          <li><a href="#">office</a></li>
          <li><a href="#">kids</a></li>
          <li><a href="#">for women</a></li>
        </ul>
      </div><!-- /.accordion-inner -->
    </div>

    <div class="col-md-4 col-sm-3">
      <h3 class="section-title">TRACTOMULAS</h3>
      <div class="accordion-inner">
        <ul>
          <li><a href="#">gaming</a></li>
          <li><a href="#">office</a></li>
          <li><a href="#">kids</a></li>
          <li><a href="#">for women</a></li>
        </ul>
      </div><!-- /.accordion-inner -->
    </div>

    <div class="col-md-4 col-sm-3">
      <h3 class="section-title">SERVICIOS</h3>
      <div class="accordion-inner">
        <ul>
          <li><a href="#">gaming</a></li>
          <li><a href="#">office</a></li>
          <li><a href="#">kids</a></li>
          <li><a href="#">for women</a></li>
        </ul>
      </div><!-- /.accordion-inner -->
    </div>

    <div class="col-md-4 col-sm-3">
      <h3 class="section-title">REPUESTOS</h3>
      <div class="accordion-inner">
        <ul>
          <li><a href="#">gaming</a></li>
          <li><a href="#">office</a></li>
          <li><a href="#">kids</a></li>
          <li><a href="#">for women</a></li>
        </ul>
      </div><!-- /.accordion-inner -->
    </div>

  </div>



  <div class="col-md-4 col-sm-4 menosz" style="padding:0px !important;">

    <p><a href="" class="pull-right">

      <%= image_tag 'b1.jpg' %>
    </a></p>

    <p><a href="" class="pull-right m-t30">
      <%= image_tag 'b2.jpg' %>
    </a></p>

  </div>

</div>


<!-- ============================================== BEST SELLER : END ============================================== -->

<!-- ============================================== BLOG SLIDER ============================================== -->


<!-- ============================================== WIDE PRODUCTS : END ============================================== -->       <!-- ============================================== FEATURED PRODUCTS ============================================== -->
<div class="col-md-12 col-sm-12" style="margin-top:50px;">
  <h3 class="section-title">LOS MÁS VISTOS</h3>
  <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs" data-item="5">

    <div class="item item-carousel"><div class="products">
      <div class="product">
        <div class="product-image"><div class="image"><a href=""><img  src="assets/images/blank.gif" data-echo="assets/images/products/h2-3.jpg" alt=""></a></div><!-- /.image -->
        </div><!-- /.product-image -->
        <div class="product-info text-left">
          <h3 class="name"><a href="detail.html">Volqueta kanic 001</a></h3>
          <div class="description">2008 | Bogotá</div>
          <div class="product-price"><span class="price">$150.055.000</span>
          </div></div><!-- /.product-info -->
        <div class="cart clearfix animate-effect"><div class="action">
          <ul class="list-unstyled">
            <li class="add-cart-button btn-group">
              <button class="btn btn-primary" type="button">Ver más</button>
            </li></ul>
        </div><!-- /.action -->
        </div><!-- /.cart -->
      </div><!-- /.product -->
    </div></div><!-- /.item -->

    <div class="item item-carousel"><div class="products">
      <div class="product">
        <div class="product-image"><div class="image"><a href=""><img  src="assets/images/blank.gif" data-echo="assets/images/products/h2-3.jpg" alt=""></a></div><!-- /.image -->
        </div><!-- /.product-image -->
        <div class="product-info text-left">
          <h3 class="name"><a href="detail.html">Volqueta kanic 002</a></h3>
          <div class="description">2008 | Bogotá</div>
          <div class="product-price"><span class="price">$150.055.000</span>
          </div></div><!-- /.product-info -->
        <div class="cart clearfix animate-effect"><div class="action">
          <ul class="list-unstyled">
            <li class="add-cart-button btn-group">
              <button class="btn btn-primary" type="button">Ver más</button>
            </li></ul>
        </div><!-- /.action -->
        </div><!-- /.cart -->
      </div><!-- /.product -->
    </div></div><!-- /.item -->

    <div class="item item-carousel"><div class="products">
      <div class="product">
        <div class="product-image"><div class="image"><a href=""><img  src="assets/images/blank.gif" data-echo="assets/images/products/h2-3.jpg" alt=""></a></div><!-- /.image -->
        </div><!-- /.product-image -->
        <div class="product-info text-left">
          <h3 class="name"><a href="detail.html">Volqueta kanic 003</a></h3>
          <div class="description">2008 | Bogotá</div>
          <div class="product-price"><span class="price">$150.055.000</span>
          </div></div><!-- /.product-info -->
        <div class="cart clearfix animate-effect"><div class="action">
          <ul class="list-unstyled">
            <li class="add-cart-button btn-group">
              <button class="btn btn-primary" type="button">Ver más</button>
            </li></ul>
        </div><!-- /.action -->
        </div><!-- /.cart -->
      </div><!-- /.product -->
    </div></div><!-- /.item -->

    <div class="item item-carousel"><div class="products">
      <div class="product">
        <div class="product-image"><div class="image"><a href=""><img  src="assets/images/blank.gif" data-echo="assets/images/products/h2-3.jpg" alt=""></a></div><!-- /.image -->
        </div><!-- /.product-image -->
        <div class="product-info text-left">
          <h3 class="name"><a href="detail.html">Volqueta kanic 004</a></h3>
          <div class="description">2008 | Bogotá</div>
          <div class="product-price"><span class="price">$150.055.000</span>
          </div></div><!-- /.product-info -->
        <div class="cart clearfix animate-effect"><div class="action">
          <ul class="list-unstyled">
            <li class="add-cart-button btn-group">
              <button class="btn btn-primary" type="button">Ver más</button>
            </li></ul>
        </div><!-- /.action -->
        </div><!-- /.cart -->
      </div><!-- /.product -->
    </div></div><!-- /.item -->

    <div class="item item-carousel"><div class="products">
      <div class="product">
        <div class="product-image"><div class="image"><a href=""><img  src="assets/images/blank.gif" data-echo="assets/images/products/h2-3.jpg" alt=""></a></div><!-- /.image -->
        </div><!-- /.product-image -->
        <div class="product-info text-left">
          <h3 class="name"><a href="detail.html">Volqueta kanic 005</a></h3>
          <div class="description">2008 | Bogotá</div>
          <div class="product-price"><span class="price">$150.055.000</span>
          </div></div><!-- /.product-info -->
        <div class="cart clearfix animate-effect"><div class="action">
          <ul class="list-unstyled">
            <li class="add-cart-button btn-group">
              <button class="btn btn-primary" type="button">Ver más</button>
            </li></ul>
        </div><!-- /.action -->
        </div><!-- /.cart -->
      </div><!-- /.product -->
    </div></div><!-- /.item -->

    <div class="item item-carousel"><div class="products">
      <div class="product">
        <div class="product-image"><div class="image"><a href=""><img  src="assets/images/blank.gif" data-echo="assets/images/products/h2-3.jpg" alt=""></a></div><!-- /.image -->
        </div><!-- /.product-image -->
        <div class="product-info text-left">
          <h3 class="name"><a href="detail.html">Volqueta kanic 006</a></h3>
          <div class="description">2008 | Bogotá</div>
          <div class="product-price"><span class="price">$150.055.000</span>
          </div></div><!-- /.product-info -->
        <div class="cart clearfix animate-effect"><div class="action">
          <ul class="list-unstyled">
            <li class="add-cart-button btn-group">
              <button class="btn btn-primary" type="button">Ver más</button>
            </li></ul>
        </div><!-- /.action -->
        </div><!-- /.cart -->
      </div><!-- /.product -->
    </div></div><!-- /.item -->

    <div class="item item-carousel"><div class="products">
      <div class="product">
        <div class="product-image"><div class="image"><a href=""><img  src="assets/images/blank.gif" data-echo="assets/images/products/h2-3.jpg" alt=""></a></div><!-- /.image -->
        </div><!-- /.product-image -->
        <div class="product-info text-left">
          <h3 class="name"><a href="detail.html">Volqueta kanic 007</a></h3>
          <div class="description">2008 | Bogotá</div>
          <div class="product-price"><span class="price">$150.055.000</span>
          </div></div><!-- /.product-info -->
        <div class="cart clearfix animate-effect"><div class="action">
          <ul class="list-unstyled">
            <li class="add-cart-button btn-group">
              <button class="btn btn-primary" type="button">Ver más</button>
            </li></ul>
        </div><!-- /.action -->
        </div><!-- /.cart -->
      </div><!-- /.product -->
    </div></div><!-- /.item -->


  </div><!-- /.home-owl-carousel -->
</div><!-- /.section -->
<!-- ============================================== FEATURED PRODUCTS : END ============================================== -->
<!-- ============================================== WIDE PRODUCTS ============================================== -->

<!-- ============================================== WIDE PRODUCTS : END ============================================== -->
<!-- ============================================== BEST SELLER ============================================== -->


<!-- ============================================== BLOG SLIDER : END ============================================== -->

<!-- ============================================== BRANDS CAROUSEL ============================================== -->

<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->


</div><!-- /.container -->
</div><!-- /#top-banner-and-menu -->







<% content_for :footer do %>

    <script>
        var ready;
        ready = function() {

            $(document).on('click', '#btn-camion', function() {


                var type = $("#camion_type").val()
                var brand = $("#camion_brand").val()
                var state = $("#camion_state").val()
                var url = 'camiones';

                if(state != ''){
                    url = url+'/'+state
                }

                if(type != ''){
                    url = url+'/'+type
                }

                if(brand != ''){
                    url = url+'/'+brand
                }




                window.location.href = url;


                return false;

            })



            //cambia el select
            $('#camion_type').on('change', function() {

                $('#camion_brand').html('')
                console.log($(this).find(':selected').data('id'))

                id = $(this).find(':selected').data('id');

                function loader(data){
                    $('#camion_brand option').html('<option>Cargando...</option>')
                };

                function error(data){
                    alert("Error enviados los datos");
                };

                if(id == undefined){
                    id = '0'
                }


                $.ajax({
                    async: true,
                    type: "GET",
                    dataType: 'json',
                    beforeSend:loader,
                    error:error,
                    success: function (msg) {
                        console.log(msg)

                        $('#camion_brand').html('')


                        $('#camion_brand').append('<option value="">Todas las marcas</option>')
                        $.each(msg, function(index, value) {

                            $('#camion_brand').append('<option value="'+value.link_rewrite+'">'+value.name+'</option>')
                        });




                    },
                    url:"/marcas/"+id
                });





            });

        };

        $(document).ready(ready);
        $(document).on('page:load', ready);


    </script>



<% end %>



